// @charset 'UTF-8';
//
// // Third-party libraries and packages.
// @import 'node_modules/sanitize.css/sanitize';
//

// using _ in the filename makes file not compile to css. Useful for project
// only files that should not end up public.
@import "components/_components";
@import "components/_post";

@import "project/_variables";
@import "project/_typography";
@import "project/__project";

* {
  box-sizing: border-box;
}

body {
  background: $color-light;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

header, footer {
  display: block;
  width: 95%;
  height: 200px;
  max-width: 700px;
  margin: 0 auto;
}

 main {
  display: block;
  width: 95%;
  height: 150px;
  max-width: 700px;
  margin: 0 auto;
  form {
    //position: absolute;
    height: 155px;
    width: 95%;
    border: 3px solid red;
    padding: 0;
    margin: 0 auto;
    .search__input {
      height: 45px;
      width: 80%;
      border: 3px solid $color-purple;
    }
    .search__button {
      width: 55px;
      height: auto;
      border: 0;
      background: 0;
      padding: 0;
      margin: 0;
    }

  }
}
